.gridContainer{
    display: grid;
    gap: 30px;
}

.gridItem{
    grid-row-start: 1;
    grid-row-end: 3;
}

.btn{
    color: #fff;
    background-color: #000;
    padding: 10px 40px;
}

.projectImage{
    display: block;
    margin-bottom: 10px;
}